<a href="https://colab.research.google.com/github/abdulla181192021/pythonmypractice/blob/main/Titanic_survival_prediction_using_Naive_bayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
#from google.colab import files
#uploaded=files.upload()

load dataset

In [ ]:
dataset=pd.read_csv()

Summarise datset

In [ ]:
print(dataset.shape)
print(dataset.head(5))

Mapping text data to Binary value

In [ ]:
income_set=set(dataset['sex'])
dataset['sex']=dataset['sex'].map({'female':0,'male':1}).astype(int)
print(dataset.head)

Segarate dataset into X and y(output)

In [ ]:
x=dataset.drop('survived',axis='columns')

In [ ]:
y=dataset.survived
print(y)

Finding and Removing NA values from our features x

In [ ]:
x.columns[x.isna().any()]#find out the column where any value is missing

In [ ]:
x.age=x.age.fillna(x.age.mean())

splitting dataset into train and test

In [ ]:
from sklearn.model_selection import train_test_split